@import normalize.css/normalize
@import compass

*, *::before, *::after
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

html
  font-size: 62.5%

body
  font-size: 1.6rem
  font-family: 'Lato', 'Avenir Next', 'Avenir', 'Helvetica Neue', Helvetica, Arial, sans-serif
  font-weight: 400
  word-wrap: break-word
  -webkit-text-size-adjust: 100%
  background-color: white
  color: #3c3c45

img
  vertical-align: bottom

h1
  font-size: 7.2rem
  font-weight: 100

h2
  font-size: 3.6rem
  font-weight: 300

h3
  font-size: 2.4rem
  font-weight: 700

h4
  font-size: 1.4rem
  font-weight: 300

a
  text-decoration: none
  color: #ff4d5d

=hidden
  opacity: 0

=media-desktop
  @media only screen and (min-width: 1120px)
    @content

%root-section
  max-width: 1220px
  margin: 0 auto 12rem
  text-align: center
  > h2
    margin-bottom: 6rem

.header
  display: block
  text-align: center
  width: 100%
  min-height: 440px
  background-color: #a3cce8
  background: rgba(0,0,0,0) image-url('images/header-bg.svg') center 24%
  background-size: cover
  color: white
  padding: 8rem 0 9rem
  margin-bottom: 10rem
  &__heading
    margin: 0
    text-indent: -0.2em
  &__description
    font-size: 2.4rem
    font-weight: 100
    letter-spacing: 0.03em
  &__download-button
    display: inline-block
    margin: 2.6rem 0 0
    padding: 1.3rem 4.0rem 1.5rem
    font-size: 2.0rem
    letter-spacing: 0.04em
    font-weight: 300
    text-decoration: none
    color: white
    background-color: rgba(#444, .5)
    border-radius: 4px
    transition: opacity 500ms ease-in-out
    &:hover
      background-color: rgba(#444, .6)
    &.hidden
      +hidden
    .svg-github-icon
      display: inline-block
      margin-left: 4px
      margin-bottom: -3px
      path
        fill: white

.why-use-this,
.comparisons
  @extend %root-section

.why-use-this
  &__description
    font-size: 2.0rem
    font-weight: 300

.comparison
  &--bar-chart,
  &--line-chart,
  &--pie-chart,
  &--doughnut-chart,
  &--radar-chart,
  &--polar-chart
    margin-bottom: 12rem
    &__heading
      margin-bottom: 4rem
    &__charts
      +clearfix
      width: 100%
      position: relative
      +media-desktop
        &::before
          display: block
          position: absolute
          content: ''
          top: 0
          left: 50%
          width: 1px
          height: 100%
          background-color: #ddd
    &__chart-heading
      display: block
      width: 18rem
      background-color: #f2f2f2
      padding: 1rem
      margin: 0 auto 5rem
    &__chart
      &--original,
      &--alternative
        padding-bottom: 6rem
      +media-desktop
        &--original
          +float-left
        &--alternative
          +float-right

.footer
  text-align: center
  background-color: #f2f2f2
  font-size: 1.6rem
  font-weight: 300
  height: 6rem
  line-height: 6rem
  &__description
    margin: 0
