.d3-meets-chart-css
  shape-rendering: crispEdges
  .scale
    path, line
      fill: none
      stroke: black
    text
      // font-family: Arial, sans-serif
      // font-size: 12px
      // font-style: normal
      // fill: #666
